<!-- Hero Section Begin -->

<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span> TÜM KATEGORİLER</span>
                    </div>
                    <ul>
                        <li><a href="#">Meyve</a></li>
                        <li><a href="#">Sebze</a></li>
                        <li><a href="#">İçecek</a></li>
                        <li><a href="#">Reçel</a></li>
                        <li><a href="#">Salça</a></li>
                        <li><a href="#">Yumurta</a></li>
                        <li><a href="#">Fastfood</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories" tabindex="0">
                                Tüm Kategoriler
                                <span class="arrow_carrot-down"></span>
                               
                            </div>
                            <input type="text" placeholder="Neye ihtiyacınız var?">
                            <button type="submit" class="site-btn">ARAMA</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+9005552221534</h5>
                            <span> 24/7 Destek</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="ogani-master/img/hero/banner.jpg" style="background-image: url(&quot;/ogani-master/img/hero/banner.jpg&quot;);">
                    <div class="hero__text">
                        <span>TROPİK MEYVE</span>
                        <h2>MEYVE <br>100% OrganiK</h2>
                        <p>Hızlı Teslimat Seçeneği İle Taptaze Meyzeler</p>
                        <a href="#" class="primary-btn">Alışverişe Başla</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
