
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">


@await Component.InvokeAsync("_HeaderViewComponents")

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    @await Component.InvokeAsync("_NavbarViewComponents")
    <!-- Hero Section Begin -->
    <!-- Hero Section End -->
    <!-- Breadcrumb Section Begin -->

    <!-- Breadcrumb Section End -->

    <!-- Contact Section End -->
    <!-- Map Begin -->
 @RenderBody()
    <!-- Map End -->
    <!-- Contact Form Begin -->

    <!-- Contact Form End -->
    <!-- Footer Section Begin -->
    @await Component.InvokeAsync("_DefaultFootter")
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/ogani-master/js/jquery-3.3.1.min.js"></script>
    <script src="~/ogani-master/js/bootstrap.min.js"></script>
    <script src="~/ogani-master/js/jquery.nice-select.min.js"></script>
    <script src="~/ogani-master/js/jquery-ui.min.js"></script>
    <script src="~/ogani-master/js/jquery.slicknav.js"></script>
    <script src="~/ogani-master/js/mixitup.min.js"></script>
    <script src="~/ogani-master/js/owl.carousel.min.js"></script>
    <script src="~/ogani-master/js/main.js"></script>



</body>

</html>