@* @model List<ViolaProject_UI.Dtos.BestsellerDtos.ResaultBestsellerDtos> *@
<!-- BestsellerCategories Section Begin -->
<section class="categories">

    <div class="container">
        <div class="section-title">
            <h2>Çok Satanlar</h2>
        </div>

        <div class="row">
          <div class="categories__slider owl-carousel">
@*              @foreach (var item in Model)
            { *@
                <div class="col-lg-3">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/ogani-master/img/featured/feature-5.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Elma</a></h6>
                            <h5>₺25.00</h5>
                        </div>
                    </div>
                </div>
             
        <div class="col-lg-3">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/ogani-master/img/featured/feature-7.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Havuç</a></h6>
                            <h5>₺20.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/ogani-master/img/featured/feature-4.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Yumurta</a></h6>
                            <h5>₺15.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/ogani-master/img/featured/feature-5.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Reçel</a></h6>
                            <h5>₺35.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/ogani-master/img/featured/feature-7.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Elma</a></h6>
                            <h5>₺25.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/ogani-master/img/featured/feature-4.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Havuç</a></h6>
                            <h5>₺20.00</h5>
                        </div>
                    </div>
                </div> 

            </div>
        </div>
    </div>
</section>
<!-- PageBestseller Section End -->